body {
    background-color: rgb(50, 160, 224);
}

section {
    width: 400px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    background-color: aliceblue;
}

.reprovado {
    background-color: rgb(238, 160, 160);
    color: red;
}
.recuperacao {
    color: rgb(214, 184, 52);
}
.aprovado {
    background-color: rgb(143, 238, 143);
    color: rgb(7, 110, 7);
}