body {
    background-color: rgb(50, 160, 224);
    text-align: center;
    font-style: normal 15px;
}

section {
    width: 400px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    background-color: aliceblue;
}

.p1 {
    background-color: aliceblue;
    color: black;
}

.green {
    background-color: rgb(136, 221, 136);
    color: rgb(70, 170, 56);
}

.p2 {
    background-color: aliceblue;
    color: black;
}

.red {
    background-color: rgb(240, 133, 133);
    color: rgb(139, 34, 34);
}